.Calendar {
    border-collapse: collapse;
    width: inherit;
    display: flex;
    right: 20px;
    flex-direction: column;

}
.CalendarSpace {
  width: 100%;
  padding: 0 50px;
  box-sizing: border-box;

}

.red {
  background-color: #FF7A2F !important;
}

.Day {
    width: calc(100% / 7);
}


.panel {
  background-color: #00CED1;
  height: 70px;
}

.weekend {
  background-color: #bdfff2;
}

.green {
  background-color: #18BC9C !important;
}

.week {
  display: flex;
  flex-direction: row;
}


button.today {
  width: auto;
  padding: 0 10px;
}
.Day-inner {
  width: 100%;
  height: 100px ;
  padding: 5px;
  text-align: left;
  margin-bottom: 0;
}
.Day-inner p {
  text-align: left;
}
.Day:hover {
    background: #eee;
    color: #000;
}

.Day.today {
    background: #4B0082;
    color: #fff;
}

.Day.selected {
    background: #2980b9;
    color: #fff;
}

.Day.other-month {
    background: #fafafa;
    color: #aaa;
    font-weight: normal;
}
